.hidden {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
}

address {
  font-style: normal;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: 0;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

/* Container */
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  padding: 22px 0;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  gap: 4px;
  align-items: center;
}
.logo-div {
  font-style: normal;
}
.nav {
  display: none;
}
.header-social-list {
  display: none;
}
.menu-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  stroke: #111111;
}
.backdrop {
  background-image: linear-gradient(
    rgba(17, 17, 17, 0.4),
    rgba(17, 17, 17, 0.4)
  );
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.backdrop.is-open {
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu {
  position: absolute;

  top: 0;
  right: 0;
  background-color: #1e1823;
  width: 50%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  padding-top: 136px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .menu {
  top: 0;
  right: 0;
  transform: translateX(0);
}
.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}
.menu-close-icon {
  stroke: #fff;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-nav-link {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fff;
}
.menu-nav-link.current {
  color: #fd9222;
}
.menu-social-list {
  margin-top: auto;
  display: flex;
  gap: 14px;
}
.menu-social-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-social-icon {
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 29px 0;
  }
  .backdrop {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav-list {
    display: flex;
    gap: 24px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 14px;
    padding: 32px 0;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #111;
  }
  .nav-link.current {
    color: #fd9222;
    position: relative;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    background-color: #fd9222;
    width: 100%;
    border-radius: 2px;
  }

  .header-social-list {
    display: flex;
    gap: 14px;
  }
  .nav-link.currents {
    position: relative;
  }
  .currents::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    background-color: #fd9222;
    width: 100%;

    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: right;
  }
  .currents:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .social-list-item {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-item:hover {
    border-color: rgba(253, 146, 34, 0.1);
  }
  .social-lin {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-social-icon {
    fill: #111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-item:hover .header-social-icon {
    fill: #fd9222;
  }
}

@media screen and (min-width: 1168px) {
  .logo {
    padding: 28px 0;
    font-size: 18px;
    margin-right: 365px;
    line-height: 1.11;
  }
}

/* Hero */

.hero-section {
  background-color: #1e1823;
  margin-bottom: 80px;
  padding-top: 395px;
  padding-bottom: 20px;
  max-width: 335px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    image-set(
      url("../img/background/hero-bg_mobwebp@1x.webp") type("image/webp") 1x,
      url("../img/background/hero-bg_mob@1x.jpg") 1x
    );
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 25px 25px 42px #8f8f8f;
}

@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .hero-section {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      image-set(
        url("../img/background/hero-bg_mobwebp@2x.webp") type("image/webp") 2x,
        url("../img/background/hero-bg_mob@2x.jpg") 2x
      );
    margin-bottom: 40px;
  }
}

.hero-container {
  padding-left: 20px;
  padding-right: 22px;
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  width: 291px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}
.btn-wrap {
  display: flex;
  gap: 14px;

  align-items: center;
  flex-wrap: wrap;
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 120px;
  border-radius: 100px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-link-made {
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  border-radius: 100px;
  border: 1px solid #fff;
  width: 159px;
  text-align: center;
  padding: 12px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-made:hover {
  border: 1px solid #fd9222;
  background-color: #fff;
  color: #fd9222;
}
.hero-link {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.7;
  letter-spacing: -0.03em;
  color: #fff;

  display: inline-flex;

  align-items: center;
  gap: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}

.hero-icon-container {
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover .hero-icon-container,
.hero-link:focus .hero-icon-container {
  background-color: #fd9222;
}

.hero-icon {
  fill: #fd9222;
  transform: rotate(-90deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover .hero-icon,
.hero-link:focus .hero-icon {
  transform: rotate(0deg);
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      image-set(
        url("../img/background/hero-bg_tabwebp@1x.webp") type("image/webp") 1x,
        url("../img/background/hero-bg_tab@1x.jpg") 1x
      );
    max-width: 704px;
    padding-top: 671px;
    padding-bottom: 40px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 768px) and (min-resolution: 2x) {
    .hero-section {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        image-set(
          url("../img/background/hero-bg_tabwebp@2x.webp") type("image/webp") 2x,
          url("../img/background/hero-bg_tab@2x.jpg") 2x
        );
    }
  }

  .hero-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn-wrap {
    display: flex;

    flex-wrap: nowrap;
  }
  .hero-btn {
    width: 144px;
  }
  .hero-link {
    margin-left: auto;
  }
  .hero-title {
    width: 293px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1168px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      image-set(
        url("../img/background/hero-bg_deskwebp@1x.webp") type("image/webp") 1x,
        url("../img/background/hero-bg_desk@1x.jpg") 1x
      );

    max-width: 1136px;
    padding-top: 381px;
  }
}

@media screen and (min-width: 1168px) and (min-resolution: 2x) {
  .hero-section {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      image-set(
        url("../img/background/hero-bg_deskwebp@2x.webp") type("image/webp") 2x,
        url("../img/background/hero-bg_desk@2x.jpg") 2x
      );
  }
}

/* section Benefiets */
.section-benefiets {
  padding: 20px 0;
  background-color: #1e1823;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefiets-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 27px;
}

.benefiets-icons {
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefiets-icon {
  fill: #fd9222;
}
.subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.text-subtitle {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .section-benefiets {
    padding: 50px 0;
  }
  .benefiets-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
    padding-right: 0;
  }

  .benefiets-item {
    padding: 0;
    flex-basis: calc((100% - 88px) / 2);
  }
}
@media screen and (min-width: 1168px) {
  .benefiets-list {
    padding-right: 16px;
    padding-left: 16px;
  }
  .benefiets-item {
    flex-basis: calc((100% - 2 * 88px) / 3);
    position: relative;
  }
  .benefiets-item:not(:last-child):after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 0px;
    height: 124px;
    position: absolute;
    right: -18px;
    top: 24%;
  }
  .text-subtitle {
    line-height: 1.29;
  }
}
/* section Taste */
.section-taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-section-title {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.title-span {
  color: #fd9222;
}
@media screen and (max-width: 767px) {
  .taste-section-title {
    max-width: 283px;
  }
}
.taste-section-text {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 32px;

  margin-left: auto;
  margin-right: auto;
}

.taste-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.taste-item {
  perspective: 1000px;
}

.taste-item:nth-child(even) > .card > .card-front {
  background-color: #fff;
  border: 1px solid #fd9222;
}
.taste-item:nth-child(3n + 3) > .card > .card-front {
  background-color: #1e1823;
}

.card {
  position: relative;

  width: 100%;
  height: 100%;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-front {
  background-color: #fd9222;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  z-index: 1;

  padding: 32px 49px 28px 50px;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-arrow {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: #fafafa;
}
.image-taste {
  margin-left: auto;
  margin-right: auto;
}
.taste-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.taste-item:nth-child(even) > .card > .card-front > .taste-subtitle {
  color: #111;
}

.taste-item:nth-child(even) > .card > .card-front > .icon-arrow {
  stroke: #fd9222;
}
.card-back {
  position: absolute;

  z-index: 0;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 28px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transform: rotateY(180deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-overlay {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}
.overlay-list {
  display: flex;
  margin-bottom: 14px;
  gap: 6px;
}
.btn-overlay {
  font-weight: 400;
  font-size: 10px;

  line-height: 1.2;
  color: #fff;

  background-color: #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
}
.btn-overlay-white {
  font-weight: 400;
  font-size: 10px;

  line-height: 1.2;
  color: #111;
  background-color: #fafafa;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
}
.text-overlay {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
.taste-item:hover {
  cursor: pointer;
}
.taste-item:hover .card-front {
  opacity: 0;
}
.taste-item:hover .card {
  transform: rotateY(180deg);
}
.taste-item:hover .card-back {
  opacity: 1;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .section-taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .taste-section-title {
    max-width: 411px;
  }
  .taste-section-text {
    max-width: 486px;
  }
  .taste-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 32px;
  }
  .taste-item {
    width: calc((100% - 32px) / 2);
  }
  .card-front {
    padding: 32px 50px 28px 50px;
  }
}
@media screen and (min-width: 1168px) {
  .section-taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .taste-list {
    gap: 19px;
  }
  .taste-item {
    width: calc((100% - 3 * 19px) / 4);
  }
  .card-front {
    padding: 32px 23px 28px 23px;
  }
}
/* section Made */

.section-made {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-made-title {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}
.made-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.video-wrap {
  max-width: 100%;
  height: 500px;
}
.video {
  border-radius: 15px;
  width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover;
}

.made-list-container {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 15px;
  background-color: #fff;
}
.subtitle-made {
  font-weight: 600;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.33;
  color: #111;
  margin-bottom: 20px;
}
.subtitle-made-list {
  padding-left: 16px;
}
.subtitle-made-text {
  position: relative;
  font-weight: 400;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
.subtitle-made-item:not(:last-child) {
  margin-bottom: 18px;
}
.subtitle-made-text::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -8px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  width: 8px;
  height: 8px;
}
@media screen and (min-width: 768px) {
  .section-made {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .video-wrap {
    max-width: 614px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .video {
    width: 100%;
    min-height: 100%;
  }
  .made-list-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 614px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 102px;
  }
}

@media screen and (min-width: 1168px) {
  .section-made {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .made-wrap {
    flex-direction: row;
    gap: 20px;
  }
  .video-wrap {
    max-width: 614px;
    margin-left: 0;
  }

  .video {
    width: 100%;
  }
  .subtitle-made {
    margin-bottom: 28px;
  }
  .made-list-container {
    padding-right: 32px;
    width: auto;
  }
  .subtitle-made-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* section Products */

.section-products {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container.gradient {
  padding-top: 35px;
  padding-bottom: 35px;
  background: linear-gradient(
    267deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(134, 83, 30, 1) 225%,
    rgba(250, 250, 250, 1) 98%
  );
  border-radius: 30px;
}

.products-section-title {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fafafa;

  margin-bottom: 32px;
}
.products-list {
  display: flex;
  flex-direction: column;

  gap: 32px;

  perspective: 1000px;
}
.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  padding: 32px 0;

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-image {
  margin-left: auto;
  margin-right: auto;
}
.products-item:hover {
  transform: translateZ(20px);
  box-shadow: 1px 16px 40px -8px rgba(0, 0, 0, 0.75);
}
.products-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-text {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.product-prise {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  display: block;
  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  max-width: 94px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 8px 0px;
}

.section-products:hover .gradient {
  animation: gradient 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes gradient {
  0% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 0%,
      rgba(250, 250, 250, 1) 100%
    );
  }
  10% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 5%,
      rgba(250, 250, 250, 1) 100%
    );
  }
  15% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 10%,
      rgba(250, 250, 250, 1) 100%
    );
  }
  20% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 30%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  25% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 45%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  30% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 55%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  35% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 65%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  40% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 75%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  45% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 85%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  50% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 95%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  55% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 105%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  60% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 125%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  65% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 135%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  70% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 145%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  75% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 155%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  80% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 175%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  85% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 185%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  90% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 205%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  95% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 225%,
      rgba(250, 250, 250, 1) 98%
    );
  }
  100% {
    background: linear-gradient(
      267deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(134, 83, 30, 1) 225%,
      rgba(250, 250, 250, 1) 98%
    );
  }
}

@media screen and (min-width: 768px) {
  .section-products {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 32px;
  }
  .products-item {
    flex-basis: calc((100% - 32px) / 2);
  }
  .products-section-title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1168px) {
  .section-products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 18px;
  }
  .products-item {
    flex-basis: calc((100% - 3 * 18px) / 4);
  }
}

/* section Loved */
.section-loved {
  padding-top: 40px;
  padding-bottom: 80px;
}
.loved-section-title {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 74px;
}
.loved-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 32px;
}
.loved-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding-inline: 18px;
  padding-bottom: 42px;
}
.container-position {
  position: relative;
  transform: translateY(-50%);
}
.photo-item {
  margin-inline: auto;
}

.loved-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.loved-item-text {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.loved-link {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 28px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.loved-link:hover,
.loved-link:focus {
  color: #fff;
  background-color: #fd9222;
}

.container-link {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-loved {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .loved-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 16px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .loved-item {
    flex-basis: calc((100% - 16px) / 2);
  }
  .loved-link {
    padding: 14px 40px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1168px) {
  .section-loved {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .loved-item {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
}
/* footer */
.footer {
  background-color: #1e1823;
}
.container.footer {
  display: flex;
  flex-direction: column;
}
.wrap-first-line {
  display: flex;
  flex-direction: column;

  row-gap: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 32px;
  padding-top: 32px;
}
.footer-title {
  font-weight: 500;
  font-size: 24px;
  max-width: 300px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
}
.contacts-plus-social-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts-text {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.29;

  color: #fff;
  margin-bottom: 14px;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;

  color: #fff;
}
.footer-social-text {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.29;

  color: #fff;
  margin-bottom: 14px;
}
.wrap-second-line {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.nav-link-footer {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-form {
  display: flex;
  align-items: center;

  gap: 8px;
}
.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  padding: 14px 18px;

  max-width: 207px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-input:focus {
  border-color: #fd9222;
}
.input-btn {
  border-radius: 100px;

  padding-block: 14px;
  padding-inline: 24px;

  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
@media screen and (min-width: 768px) {
  .wrap-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contacts-plus-social-wrap {
    gap: 40px;
  }
  .contacts-plus-social-wrap {
    flex-direction: row-reverse;
  }
  .wrap-second-line {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 24px;
    padding-bottom: 50px;
  }
  .nav-list {
    flex-direction: row;
    gap: 16px;
  }
  .footer-input {
    padding-left: 24px;
    max-width: 232px;
  }
  .input-btn {
    padding-inline: 28px;
  }
}
@media screen and(min-width:1168px) {
  .contacts-plus-social-wrap {
    gap: 50px;
  }
  .nav-list {
    gap: 16px;
  }
  .footer-input {
    max-width: 458px;
  }
}
/* modal */
.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 241, 224, 0.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 315px;

  background-color: #fafafa;
  border-radius: 15px;
  padding: 32px 24px;
  border: 2px solid #fd9222;
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open .modal-overlay {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0;
}
.close-icon {
  stroke: #111;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .close-icon {
  transform: rotate(90deg);
}
.modal-text {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .title-span-block {
    display: block;
  }
}
.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.modal-label.text {
  margin-bottom: 18px;
}

.modal-label label {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 4px;
}

.input-icon-wrap input {
  width: 100%;
  height: 45px;
  padding-top: 15px;

  padding-bottom: 15px;
  padding-left: 43px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
}
.input-icon-wrap input:focus,
.modal-label textarea:focus {
  border-color: #fd9222;
}
.modal-label textarea {
  resize: none;
  height: 91px;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  border-radius: 13px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
}
.input-icon-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  stroke: #404040;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-wrap input:focus + svg {
  stroke: #fd9222;
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.policy-label {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.policy-label-wrap {
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .policy-label {
    display: flex;
  }
}
.policy-posicion a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
  cursor: pointer;
}

.checkbox-item {
  flex-shrink: 0;

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checked:checked + label > .checkbox-item {
  background-color: #fd9222;

  border-color: transparent;
  fill: #fff;
}

.modal-btn-send {
  background-color: #fd9222;

  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 12px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .modal-overlay {
    width: 517px;

    padding: 40px;
    border: 2px solid #fd9222;
  }
  .modal-btn {
    top: 24px;
    right: 24px;
  }
  .modal-text {
    font-size: 24px;
    max-width: 296px;
    line-height: 1.17;

    margin-bottom: 40px;
  }
  .modal-label {
    margin-bottom: 18px;
  }
  .modal-label label {
    margin-bottom: 8px;
  }
  .input-icon-wrap input {
    padding: 22px 62px;
    height: 68px;

    font-size: 18px;
  }
  .modal-icon {
    width: 24px;
    height: 24px;

    left: 24px;
  }
  .modal-label textarea {
    height: 137px;
    font-size: 18px;
  }
  .modal-textarea::placeholder {
    font-size: 18px;
  }
  .policy-label-wrap {
    margin-bottom: 40px;
  }
  .policy-label {
    font-size: 14px;
  }
  .modal-btn-send {
    padding: 14px 40px;
  }
}
